.post {
  width: 200px;
  height: 60px;
  margin: 2em auto;
  display: block;
  background-color: tomato;
  color: white;
  box-shadow: none;
  border: 2px solid lighten(tomato, 15%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  user-select: none;

  width: 500px;
  border: 2 px solid lightgray;
  box-shadow: darkgray;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post__avatar{
    margin-right: 10px;
}

.post__header{
    display: flex; /* By default throws in row */
    align-items: center;
    padding: 20px;
}

.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__commentBox{
    display: flex;
}

.post__input{
    flex:1;
    border:none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

post__commentBox{
    flex:0;
    border-top: 1px sold lightgray;
    border:none;
    color: blue;
}

.post__Comments{
    padding: 20px;
}
